<!DOCTYPE html>
<html lang="en" ng-app="nitro" xmlns:th="http://www.thymeleaf.org" ng-controller="NavController">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to Nitro</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"/>
    <style>
        body {
            background-color: black;
            text-align: center;
            color: white;
            font-family: 'Roboto', sans-serif;
        }

        h1, h2 {

            font-family: 'Roboto Condensed', sans-serif;
            font-weight: normal;
        }

        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            color: grey;
        }
    </style>
</head>
<body>
    <img src="https://thenoxgroup.co.za/wp-content/uploads/2016/04/thenoxgroup.jpg"/>
        <p>
        <h1>Nitro</h1>
        <h2>
        It's been 2 years and we have outgrown our server infrastructure.
        </h2>
        <h2>
        We're upgrading. We will be back shortly...
        </h2>
        <strong>Server:</strong> <span th:text="${server}"></span><br/>
        <strong>Port:</strong> <span th:text="${port}"></span><br/>
        <strong>Version:</strong> <span th:text="${version}"></span><br/>
        <strong>Host:</strong> <span th:text="${host}"></span><br/>
    </p>
</body>
</html>